@font-face {
  font-family: "BerkshireSwash-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BerkshireSwash-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BerkshireSwash-Regular.woff") format("woff"), url("../fonts/BerkshireSwash-Regular.ttf") format("truetype");
}
