@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Helvetica, arial, sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: #545454;
  background-color: #ecebe8;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

::-webkit-input-placeholder {
  color: #fff;
}

.container {
  width: 100%;
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.b-breadcrumbs__inner, .b-main__wrapper, .b-teasers__row, .b-widget__row, .b-widget--voites .b-widget__answers {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.b-top__left, .b-top__right, .b-breadcrumbs__left, .b-breadcrumbs__right, .b-main__left, .b-main__right, .b-teasers__item, .b-widget__teaser, .b-widget--voites .b-widget__yes, .b-widget--voites .b-widget__no {
  display: table-cell;
  vertical-align: top;
}

.b-top {
  background-color: #93b874;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.b-top__inner {
  display: table;
  width: 100%;
}

.b-top__left {
  padding: 15px 0;
}

.b-top__right {
  text-align: right;
}

.b-top__logo, .b-top__search {
  display: inline-block;
  vertical-align: middle;
}

.b-top__logo {
  width: 160px;
  margin-right: 15px;
}

.b-top__menu {
  display: table;
  float: right;
}

.b-top__toggle {
  display: none;
  vertical-align: middle;
  border: none;
  color: #FFF;
  font-weight: bold;
  padding: 10px 11px;
  height: 40px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ADC996;
  width: 40px;
  -webkit-background-size: 25px auto;
  background-size: 25px auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/menu.png);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.b-top__link {
  display: table-cell;
  vertical-align: middle;
  font-weight: 700;
  font-size: 10px;
  color: #475347;
  text-transform: uppercase;
  width: 77px;
  height: 75px;
  padding: 3px;
  padding-top: 47px;
  text-align: center;
  -webkit-background-size: auto 22px;
  background-size: auto 22px;
  background-repeat: no-repeat;
  background-position: 50% 10px;
  text-decoration: none;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.b-top__link--1 {
  background-image: url(../img/icon-1.svg);
}

.b-top__link--2 {
  background-image: url(../img/icon-2.svg);
}

.b-top__link--3 {
  background-image: url(../img/icon-3.svg);
}

.b-top__link--4 {
  background-image: url(../img/icon-4.svg);
}

.b-top__link + .b-top__link, .b-top__link:first-of-type {
  border-left: 1px solid #89ac6c;
}

.b-top__link:last-of-type {
  border-right: 1px solid #89ac6c;
}

.b-top__link:hover {
  background-color: #85A669;
}

.b-top.fixed .b-top__link {
  background-image: none;
  padding-top: 3px;
  height: 60px;
}

.b-top.fixed .b-search__field {
  font-size: 18px;
  padding: 3px;
}

.b-top.fixed .b-search__btn {
  padding: 5px;
  height: 30px;
  -webkit-background-size: 15px auto;
  background-size: 15px auto;
}

.b-search__field {
  font-size: 22px;
  border: none;
  background-color: #93B874;
  color: #FFF;
  width: 250px;
  margin: 0 15px 0 0;
  padding: 7px;
  border-bottom: 2px solid #FFF;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.b-search__btn {
  border: none;
  color: #FFF;
  font-weight: bold;
  padding: 10px 11px;
  position: absolute;
  height: 40px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ADC996;
  width: 85px;
  -webkit-background-size: 25px auto;
  background-size: 25px auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/search.png);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.b-breadcrumbs {
  margin: 10px 0;
}

.b-breadcrumbs__right {
  text-align: right;
}

.b-breadcrumbs__link {
  font-size: 12px;
  color: #767676;
  text-decoration: none;
}

.b-breadcrumbs__link + .b-breadcrumbs__link::before {
  content: '»';
  display: inline-block;
  margin: 0 3px;
}

.b-breadcrumbs__link:hover {
  text-decoration: underline;
}

.b-breadcrumbs__action {
  font-size: 13px;
  color: #373;
  font-weight: 700;
  text-decoration: none;
}

.b-breadcrumbs__action.active, .b-breadcrumbs__action:hover {
  color: #454545;
}

.b-breadcrumbs__action:hover {
  text-decoration: underline;
}

.b-breadcrumbs__action + .b-breadcrumbs__action {
  margin-left: 15px;
}

.b-main {
  padding-top: 75px;
  padding-bottom: 25px;
}

.b-main__right {
  width: 300px;
  padding-left: 15px;
}

.b-theme {
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 25px;
  overflow: hidden;
}

.b-theme__title {
  padding: 25px 25px 10px;
  margin: 0;
  color: #222;
  font-size: 25px;
}

.b-theme__content {
  padding: 10px 25px 25px;
}

.b-theme__lead {
  margin: 0;
}

.b-theme__lead + .b-theme__lead {
  margin-top: 15px;
}

.b-theme__lead a {
  color: #373;
  font-weight: 700;
}

.b-theme__lead a:hover {
  color: #4267b2;
}

.b-theme__methods {
  background-color: #f6f8f7;
  padding: 8px 25px;
}

.b-theme__img {
  margin: 15px 0;
}

.b-methods {
  font-size: 12px;
  font-weight: 700;
}

.b-methods__label {
  color: #222;
  margin-right: 9px;
}

.b-methods__link {
  color: #373;
  text-decoration: none;
  margin-right: 15px;
}

.b-methods__link::before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 6px;
  background-color: #96BA79;
}

.b-methods__link:hover {
  text-decoration: underline;
}

.b-panel {
  background-color: #f6f5f4;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  font-size: 0;
}

.b-panel__title {
  position: relative;
  font-size: 18px;
  line-height: 1.2;
  overflow: hidden;
  min-height: 80px;
  display: table;
  width: 100%;
  padding: 8px 25px;
  margin: 0;
  max-width: 640px;
  background-color: #f6f5f4;
}

.b-panel__title span {
  background-color: #93b874;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.b-panel__title b {
  font-size: 24px;
  display: block;
}

.b-panel__title h2 {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

.b-panel__title.fixed {
  position: fixed;
  z-index: 2;
  top: 60px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.b-panel__title.fixed span {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.b-panel__title.absolute {
  position: absolute;
}

.b-panel__inner {
  background-color: #fff;
  padding: 25px;
}

.b-panel__text {
  margin: 0;
  font-size: 16px;
}

.b-panel__text + .b-panel__text {
  margin-top: 15px;
}

.b-panel__text a {
  color: #373;
  font-weight: 700;
}

.b-panel__text a:hover {
  color: #4267b2;
}

.b-panel__list {
  font-size: 16px;
}

.b-panel__list li + li {
  margin-top: 15px;
}

.b-panel__list a {
  color: #373;
  font-weight: 700;
}

.b-panel__list a:hover {
  color: #4267b2;
}

.b-panel__views {
  margin: 0;
}

.b-panel__useful {
  margin: 25px 0 0;
}

.b-panel__buttons {
  margin-top: 30px;
}

.b-panel__activelink {
  display: table;
  margin: 25px auto 0;
  font-size: 25px;
  text-transform: uppercase;
  color: #373;
  padding: 15px 30px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}

.b-panel__activelink:hover {
  background-color: #93b874;
  color: #fff;
  text-decoration: none;
}

.b-panel__activelink:hover::after, .b-panel__activelink:hover::before {
  opacity: 1;
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
}

.b-panel__activelink:hover::after {
  right: -50px;
}

.b-panel__activelink:hover::before {
  left: -50px;
}

.b-panel__activelink::after, .b-panel__activelink::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border: 3px solid #93b874;
  -webkit-transform: rotate(45deg) scale(0.5);
  -ms-transform: rotate(45deg) scale(0.5);
  transform: rotate(45deg) scale(0.5);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  opacity: 0;
}

.b-panel__activelink::after {
  right: 0;
  border-top: 0;
  border-right: 0;
}

.b-panel__activelink::before {
  left: 0;
  border-bottom: 0;
  border-left: 0;
}

.b-panel + .b-panel {
  margin-top: 25px;
}

.b-panel--method .b-panel__title h2 {
  padding-left: 75px;
}

.b-panel--info {
  color: #000;
  font-size: 18px;
  padding: 25px;
  text-align: center;
}

.b-btn {
  display: inline-block;
  padding: 12px 16px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #e5e5e5;
  color: #686868;
  background-color: #fff;
  text-decoration: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.b-btn + .b-btn {
  margin-left: 10px;
}

.b-btn:hover {
  color: #2483ef;
  border: 1px solid #2483ef;
}

.b-comments__head {
  margin: 0 0 25px;
  border-bottom: 1px solid #e9ebee;
  line-height: 25px;
  padding: 0 0 8px;
}

.b-comments__count {
  font-family: Arial, Helvetica, serif;
  font-size: 14px;
  font-weight: 600;
}

.b-comments__add {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.b-comments__add .b-comments__right {
  border: 1px solid #d3d6db;
  font-size: 0;
}

.b-comments__left, .b-comments__right {
  display: table-cell;
  vertical-align: top;
}

.b-comments__left {
  width: 66px;
}

.b-comments__ava {
  width: 48px;
  display: inline-block !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.b-comments__textarea {
  border: none;
  width: 100%;
  padding: 12px 8px;
  font-size: 16px;
  color: #757575;
  min-height: 40px;
}

.b-comments__subarea {
  background-color: #f5f6f7;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #d3d6db;
}

.b-comments__btn {
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff !important;
  padding: 0 8px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: none;
  padding: 5px 8px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.b-comments__item {
  margin-top: 25px;
}

.b-comments__name {
  font-size: 16px;
  margin: 0;
  color: #4267b2;
  font-weight: 700;
}

.b-comments__text {
  margin: 8px 0;
  font-size: 16px;
}

.b-comments__text a {
  color: #373;
  font-weight: 700;
}

.b-comments__text a:hover {
  color: #4267b2;
}

.b-comments__img {
  display: block;
  margin-top: 15px;
}

.b-comments__links {
  font-size: 14px;
  display: inline-block;
  color: #4267b2 !important;
  text-decoration: none;
}

.b-comments__links::after {
  content: '\2219 ';
  display: inline-block;
  margin: 0 5px;
}

.b-comments__links--likes::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 2px;
  width: 21px;
  height: 18px;
  margin-right: 3px;
  background-image: url(../img/like.png);
}

.b-comments__date {
  color: #888887;
  font-size: 14px;
}

.b-teasers__row + .b-teasers__row {
  margin-top: 25px;
}

.b-teasers__item {
  position: relative;
  padding-bottom: 25%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.b-teasers__item:first-child {
  border-right: 12.5px solid transparent;
}

.b-teasers__item:last-child {
  border-left: 12.5px solid transparent;
}

.b-teasers__item:hover .b-teasers__title {
  padding-bottom: 15px;
}

.b-teasers__item--1 {
  background-image: url(../img/teaser1.jpg);
}

.b-teasers__item--2 {
  background-image: url(../img/teaser1.jpg);
}

.b-teasers__item--3 {
  background-image: url(../img/teaser1.jpg);
}

.b-teasers__item--4 {
  background-image: url(../img/teaser1.jpg);
}

.b-teasers__item--5 {
  background-image: url(../img/teaser1.jpg);
}

.b-teasers__item--6 {
  background-image: url(../img/teaser1.jpg);
}

.b-teasers__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  padding: 10px;
  margin: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.b-teasers__title:hover {
  color: #2483ef;
  background-color: #fff;
}

.b-footer {
  padding: 20px 0;
  background-color: #93b874;
  text-align: center;
}

.b-footer__link {
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
}

.b-footer__link:hover {
  text-decoration: underline;
}

.b-widget {
  background: #f6f5f4;
  text-align: center;
  padding: 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.b-widget__title {
  color: #686868;
  font-size: 13px;
  margin: 0 0 15px;
  text-align: left;
}

.b-widget__row + .b-widget__row {
  margin-top: 15px;
}

.b-widget__teaser {
  position: relative;
  padding-bottom: 50%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.b-widget__teaser:first-child {
  border-right: 7.5px solid transparent;
}

.b-widget__teaser:last-child {
  border-left: 7.5px solid transparent;
}

.b-widget__teaser:hover .b-widget__teaser-title {
  color: #2483ef;
  background-color: #fff;
  padding-bottom: 10px;
}

.b-widget__teaser-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  text-align: left;
  color: #fff;
  font-weight: 700;
  line-height: 1.3;
  background-color: rgba(50, 50, 50, 0.5);
  margin: 0;
  padding: 5px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.b-widget__teaser--1 {
  background-image: url(../img/teaser1.jpg);
}

.b-widget__teaser--2 {
  background-image: url(../img/teaser1.jpg);
}

.b-widget__teaser--3 {
  background-image: url(../img/teaser1.jpg);
}

.b-widget__teaser--4 {
  background-image: url(../img/teaser1.jpg);
}

.b-widget--teasers {
  margin-top: 1000px;
}

.b-widget--voites {
  margin-top: 1200px;
  padding: 0;
}

.b-widget--voites .b-widget__question {
  font-size: 17px;
  background-color: #fff;
  padding: 15px;
  margin: 0;
}

.b-widget--voites .b-widget__answers {
  border-top: 1px solid #e7e7e5;
}

.b-widget--voites .b-widget__yes, .b-widget--voites .b-widget__no {
  padding: 12px;
  text-align: center;
  font-size: 16px;
  color: #686868;
  text-decoration: none;
}

.b-widget--voites .b-widget__yes:hover, .b-widget--voites .b-widget__no:hover {
  color: #fff;
}

.b-widget--voites .b-widget__yes::before, .b-widget--voites .b-widget__no::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 5px;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  -webkit-background-size: cover;
  background-size: cover;
}

.b-widget--voites .b-widget__no {
  border-left: 1px solid #e7e7e5;
}

.b-widget--voites .b-widget__no::before {
  background-image: url(../img/no.svg);
}

.b-widget--voites .b-widget__no:hover {
  background-color: #DAA78D;
}

.b-widget--voites .b-widget__no:hover::before {
  background-image: url(../img/no-h.svg);
}

.b-widget--voites .b-widget__yes::before {
  background-image: url(../img/yes.svg);
}

.b-widget--voites .b-widget__yes:hover {
  background-color: #ADC996;
}

.b-widget--voites .b-widget__yes:hover::before {
  background-image: url(../img/no-h.svg);
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 700px;
  }
  .b-main__right {
    display: none;
  }
  .b-panel__inner {
    padding: 12px;
  }
  .b-panel__title {
    max-width: none;
    font-size: 12px;
    min-height: auto;
    padding-left: 12px;
  }
  .b-panel__title span {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    width: 50px;
    height: auto;
    font-size: 0;
    top: 0;
    bottom: 0;
    padding-top: 5px;
  }
  .b-panel__title h2 {
    margin: 0;
  }
  .b-panel__title.fixed {
    max-width: none;
    left: 0;
    top: auto;
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .b-panel__title.fixed span {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    left: 0;
  }
  .b-panel__activelink {
    font-size: 18px;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin-top: 15px;
  }
  .b-panel__activelink:hover::after, .b-panel__activelink:hover::before {
    display: none;
  }
  .b-panel--method .b-panel__title {
    padding-left: 25px;
  }
  .b-panel--method .b-panel__title h2 {
    padding-left: 40px;
  }
  .followWrap {
    height: auto !important;
  }
  .b-top {
    font-size: 0;
    text-align: center;
  }
  .b-top__inner {
    display: block;
  }
  .b-top__left {
    display: block;
    padding: 10px 0;
  }
  .b-top__right {
    display: none;
  }
  .b-top__logo {
    margin: 0 15px;
  }
  .b-top__toggle {
    display: inline-block;
  }
  .b-top.fixed .b-search__btn {
    padding: 10px 11px;
    height: 40px;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
  }
  .b-search__field {
    display: none;
  }
  .b-search__btn {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .b-breadcrumbs {
    display: none;
  }
  .b-theme__title {
    font-size: 18px;
    padding: 12px 12px 6px;
  }
  .b-theme__methods {
    padding: 6px 12px;
  }
  .b-theme__content {
    padding: 6px 12px 12px;
  }
  .b-methods__link {
    display: block;
    margin: 5px 0;
  }
  .b-teasers__row {
    display: block;
  }
  .b-teasers__row + .b-teasers__row {
    margin-top: 12px;
  }
  .b-teasers__item {
    display: block;
    border: none !important;
    padding-bottom: 50%;
  }
  .b-teasers__item + .b-teasers__item {
    margin-top: 12px;
  }
  .b-teasers__title {
    font-size: 14px;
    padding: 8px;
    line-height: 1.2;
  }
  .b-comments__left {
    display: none;
  }
  .b-comments__head {
    margin: 0 0 15px;
    line-height: 1.2;
  }
  .b-comments__item:nth-child(-n+13) {
    display: none;
  }
  .b-comments__links:last-of-type::after {
    display: none;
  }
  .b-comments__date {
    display: block;
    margin-top: 8px;
  }
  .b-footer {
    display: none;
  }
}

@-moz-document url-prefix() {
  .b-panel__title {
    overflow: hidden;
  }
  .b-panel__title span {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    font-size: 0;
    height: auto;
    top: 0;
    bottom: 0;
    padding-top: 8px;
  }
  .b-panel__title.fixed {
    position: relative;
    top: auto !important;
  }
  .b-panel__title.fixed span {
    transform: none;
    border-radius: 0;
  }
  .followWrap {
    height: auto !important;
  }
}
