doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.b-top
				.container
					.b-top__inner
						.b-top__left
							img.b-top__logo(src="img/logo.png", alt="")
							.b-top__search.b-search
								input(type="text", placeholder="сделать что-нибудь...").b-search__field
								a.b-search__btn(href="")
						.b-top__right
							.b-top__menu
								a.b-top__link.b-top__link--1(href="") Помогите нам
								a.b-top__link.b-top__link--2(href="") Посетите
								a.b-top__link.b-top__link--3(href="") Войти на сайт
								a.b-top__link.b-top__link--4(href="") Сообщения
			.b-main
				.container
					.b-breadcrumbs
						.b-breadcrumbs__inner
							.b-breadcrumbs__left
								a.b-breadcrumbs__action.active(href="") Статья
								a.b-breadcrumbs__action(href="") Править
							.b-breadcrumbs__right
								a.b-breadcrumbs__link(href="") Главная
								a.b-breadcrumbs__link(href="") Категории
								a.b-breadcrumbs__link(href="") Здоровье
								a.b-breadcrumbs__link(href="") Похудение
					.b-main__wrapper
						.b-main__left
							.b-theme
								h1.b-theme__title КАК ПОХУДЕТЬ НА 4 КГ ЗА НЕДЕЛЮ БЕЗ ТАБЛЕТОК И ВРЕДА ДЛЯ ЗДОРОВЬЯ. ТОП 3 МЕТОДА ОТ ЭКСПЕРТА  
								.b-theme__methods.b-methods.b-methods
									span.b-methods__label 3 метода:
									a.b-methods__link(href="#method1") Как секс влияет на похудение
									a.b-methods__link(href="#method2") Как влияет стресс на похудение 
									a.b-methods__link(href="#method3") Как влияет на похудение обертывания для тела Green Spa 
								.b-theme__content
									p.b-theme__lead У каждой  современной женщины обязательно есть эти три вещи: модный смартфон, немного лишнего веса и постоянное желание от него избавиться.  
									p.b-theme__lead Что нужно делать для того, чтобы похудеть? Ничего не есть, жить в спортзале, считать калории? Эксперт по потере веса Микаель Родригес  разрушил стереотипы и предложил 3 новых способа похудения, которые вас очень удивят. 
									p.b-theme__lead Здоровый образ жизни - это то, к чему люди должны стремиться, но в современном  мегаполисе не у всех есть время на тренировки, не у всех есть возможность правильно питаться, принимать витамины и  вовремя проходить обследования организма. 
									img.b-theme__img(src="https://via.placeholder.com/750x350", alt="")
									p.b-theme__lead Я исследовал женский организм и его жиросжигающие способности. Максимальную эффективность показали результаты у тех женщин, которые часто занимаются сексом, у тех, кто часто пребывает в состоянии стресса и у тех, кто делает обертывания Green Spa. 
							.b-panel.b-panel--method(id="method1")
								.b-panel__title #[span Метод #[b 1]] #[h2 Как секс влияет на похудение]
								img.b-panel__img(src="https://via.placeholder.com/750x350", alt="")
								.b-panel__inner
									p.b-panel__text Секс для похудения -  хорошая идея, ведь это расслабляет психологически, нормализует баланс гормонов, подавляет стрессы и попросту доставляет удовольствие. 
									p.b-panel__text Во время полового акта учащается дыхание и поднимается пульс до 140 ударов в минуту, что ведет к сжиганию 400 калорий в час. Кроме того, повышается температура тела, что тоже способствует уменьшению жировой прослойки тела. 
									p.b-panel__text Во время секса средняя частота пульса равна 120 ударам в минуту. Во время оргазма калории сжигаются еще активнее, так как частота пульса увеличивается до 140 ударов в минуту. 
									p.b-panel__text Однако найти достойного мужчину-партнера бывает совсем нелегко. Поэтому женщины заедают депрессию и поправляються еще больше. 
							.b-panel.b-panel--method(id="method2")
								.b-panel__title #[span Метод #[b 2]] #[h2 Как влияет стресс на похудение]
								img.b-panel__img(src="https://via.placeholder.com/750x350", alt="")
								.b-panel__inner
									p.b-panel__text “Худею от стресса” - часто слышали такое от подруги, которая ела шоколад вместе с вами,  но в отличие от вас похудела на два размера за последний месяц? Тут все просто -  стресс часто сопровождается перенапряжением и спазмом мышц тела, в том числе мышц желудочно-кишечного тракта. В напряжении организм единовременно тратит большое количество энергии ( ок 700 ккал ) и не позволяет поступающим калориям откладываться в жировые отложения. 
									p.b-panel__text В таких условиях жир в организме сжигается в 8 раз быстрее и  уменьшаются объемы тела. 
							.b-panel.b-panel--method(id="method3")
								.b-panel__title #[span Метод #[b 3]] #[h2 Как влияет на похудение обертывания для тела Green Spa]
								img.b-panel__img(src="https://via.placeholder.com/750x350", alt="")
								.b-panel__inner
									p.b-panel__text Обертывание Green Spa станет настоящей находкой для тех, кто не может избавиться от лишних сантиметров в проблемных зонах, а так же для тех, у кого кожа, склонная к появлению растяжек. Это средство 2 в 1: избавляет от лишнего жира и подтягивает кожу. Огромный плюс Green Spa в том, что им можно пользоваться самостоятельно дома. 
									p.b-panel__text Green Spa действует комплексно: 
									ol.b-panel__list
										li Активные компоненты жиросжигающего крема проникают  в кожу и расщепляют жировые отложения и растяжки.
										li  Термопленка создает эффект сауны. Мягко открывает поры, разгоняет лимфу и расщепляет застойные явления. 
										li Регулярное обертывание Green Spa в течение курса обеспечивает уменьшение объемов тела на 4-16 см в зависимости от запущенности и индивидуальных особенностей организма. С Green Spa вы сможете худеть на 4 кг в неделю без особых усилий и вреда для здоровья. 
									p.b-panel__text Делать обертывание можно локально на проблемных зонах - руки, живот и бедра, что позволит сохранить объем груди, который часто уменьшается из-за тренировок и диет. 
									a.b-panel__activelink(href="") ЗАКАЗАТЬ GREEN SPA 
							.b-panel
								.b-panel__title #[h2 Дополнительные статьи]
								.b-panel__inner
									.b-teasers
										.b-teasers__row
											a(href="").b-teasers__item.b-teasers__item--1
												p.b-teasers__title Комплексное очищение организма. Гарантированное похудение
											a(href="").b-teasers__item.b-teasers__item--2
												p.b-teasers__title 10 способов сбросить лишний вес
										.b-teasers__row
											a(href="").b-teasers__item.b-teasers__item--3
												p.b-teasers__title  Худеем вместе. Реальные истории
											a(href="").b-teasers__item.b-teasers__item--4
												p.b-teasers__title  Как обуздать аппетит? Советы тех, кто смог избавиться от лишних килограммов 
										.b-teasers__row
											a(href="").b-teasers__item.b-teasers__item--5
												p.b-teasers__title  О чем умалчивают диетологи? Найдено лучшее средство для похудения
											a(href="").b-teasers__item.b-teasers__item--6
												p.b-teasers__title  Раньше я тоже думала, что похудеть без особых усилий невозможно. Но я  убедилась в обратном
							.b-panel
								.b-panel__title #[h2 Комментарии]
								.b-panel__inner
									.b-comments
										.b-comments__head
											span.b-comments__count 15 Comments
										.b-comments__add
											.b-comments__left
												img.b-comments__ava(src='img/ava.jpg', alt='')
											.b-comments__right
												textarea.b-comments__textarea(placeholder='Add a comment...')
												.b-comments__subarea
													a.b-comments__btn(href='') Add the comment
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava1.jpg', alt='')
											.b-comments__right
												p.b-comments__name Ireni78
												p.b-comments__text
													| Как же я устала быть толстой. Не могу никак живот убрать. И руки такие толстые, не могу даже майку одеть, постоянно пиджак надеваю потому что  комплексую. Попробую тоже это обертывание.
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 22
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-14, true)] at 15:12
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava2.jpg', alt='')
											.b-comments__right
												p.b-comments__name Ariel
												p.b-comments__text
													| Девочки зачем вам эти все издевательства. Просто занимайтесь сексом с любимым человеком - это самый лучший спорт. Будете и стройными и мышцы в тонусе будут - никакой тренажерки не надо :) 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 30
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-13, true)] at 07:11
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava3.jpg', alt='')
											.b-comments__right
												p.b-comments__name Hilda009
												p.b-comments__text
													| мужчины не любят сильно худых. так что большие бедра у женщины это наоборот плюс.
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 9
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-13, true)] at 19:42
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava4.jpg', alt='')
											.b-comments__right
												p.b-comments__name Мисс92
												p.b-comments__text
													| Согласна с вами на 100%. Со мной именно это и случилось. Еще год назад я была востребованной моделью и с огромными перспективами. Но из-за скандала на одной вечеринке все пошло коту под хвост. Контракты аннулировали, я осталась без работы и денег. Начала худеть не по дням , а по часам. Сама на себя смотреть не могла, выглядела как скелет. Дошло до того, что мой мужчина от меня даже отвернулся, его отвернуло от меня. Сами представьте, мой рост 179 см и вес был 48 кг. Это время я вспоминаю с ужасом, не дай Бог этому повториться. Так что девочки мой вам совет, любите себя и берегите себя от стресса. 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 14
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-12, true)] at 10:54
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava5.jpg', alt='')
											.b-comments__right
												p.b-comments__name Sana
												p.b-comments__text
													| Я тоже пользуюсь Green Spa, после родов похудела с его помощью на 9 кг а в объемах ушло по 7 см! Сейчас поддерживаю результат, он за кожей отлично ухаживает, все подтянуто, даже лучше чем до родов. Кожа на животе и ляжках упругая и подтянутая, а после легкого загара вообще шикардос. 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 24
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-12, true)] at 09:01
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava6.jpg', alt='')
											.b-comments__right
												p.b-comments__name Lily
												p.b-comments__text
													| Я с помощью Green Spa избавилась от жуткого целлюлита на ногах. Даже животик меня так не смущал как мои ноги. Теперь они у меня стройные и подтянутые. Даже не думала что в 37 лет такое может быть. 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 8
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-11, true)] at 08:17
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava7.jpg', alt='')
											.b-comments__right
												p.b-comments__name Yoyo
												p.b-comments__text
													| Я тоже полная и ничего, нашла мужа, любит меня. Все зависит от самооценки девочки. Себя любить надо любую.
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 3
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-10, true)] at 17:04
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava8.jpg', alt='')
											.b-comments__right
												p.b-comments__name Indiana
												p.b-comments__text
													| Вы не правы. Я люблю себя и люблю за собой ухаживать. Мужчины любят прежде всего глазами, так что каждая женщина должна хорошо выглядеть и для себя и для мужа. Я вот тоже поправилась немного, хочу попробовать Green Spa. Я спортзал ходить нет возможности, поэтому это для меня идеальный вариант. 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 15
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-9, true)] at 10:15
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava9.jpg', alt='')
											.b-comments__right
												p.b-comments__name WonnaLove
												p.b-comments__text Когда расходилась с парнем то похудела на 7 кг. Но выглядела ужасно, буд то больная. Темные круги под глазами и волосы сыпались клочьями.  Лучше уж другим способом худеть. 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 8
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-8, true)] at 18:36
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava10.jpg', alt='')
											.b-comments__right
												p.b-comments__name Jamilya
												p.b-comments__text
													| А мне кажется это бред какой-то. похудеть можно только если ограничить себя в еде больше никак. 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 1
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-7, true)] at 15:02
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava11.jpg', alt='')
											.b-comments__right
												p.b-comments__name Cici23
												p.b-comments__text
													| Я в салоне делала обертывание, процедура правда эффективная, но очень дорогая. Лучше и правда дома делать. 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 3
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-6, true)] at 11:12
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava12.jpg', alt='')
											.b-comments__right
												p.b-comments__name Tina
												p.b-comments__text
													| Девочки, супер эффект! Сделала 7 раз а уже минус 5 в объемах. Советую. 
													img.b-comments__img(src="https://via.placeholder.com/276x187", alt="")
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 3
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-5, true)] at 07:15
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava13.jpg', alt='')
											.b-comments__right
												p.b-comments__name Elizabet
												p.b-comments__text
													| По - моему кардиотренировки лучше всего помогают сбросить вес. А секс ни чуть не хуже сжигает калории . Я вот если поправлюсь сразу начинаю худеть , только не диета и фитнес, а секс :) Могу по 2-3 раза в день заниматься и за месяц килограмм 5 точно уходит. 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 3
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-5, true)] at 09:42
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava14.jpg', alt='')
											.b-comments__right
												p.b-comments__name Victory
												p.b-comments__text
													| У меня вообще проблем нет с лишним весом, хотя вообще себе ни в чем  не отказываю. Могу и бургер среди ночи съесть и конфет десяток  с кофе. Главное чтобы мужик рядом был под  боком. Совмещаем полезное с приятным. 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 3
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-4, true)] at 12:00
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava15.jpg', alt='')
											.b-comments__right
												p.b-comments__name Dioana
												p.b-comments__text
													| У меня силы воли вообще нет. Несколько раз пыталась садиться на диеты, хватает меня максимум на 3 дня. Так что это точно не мое. 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 3
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-3, true)] at 11:55
										.b-comments__item
											.b-comments__left
												img.b-comments__ava(src='img/ava16.jpg', alt='')
											.b-comments__right
												p.b-comments__name Kamila
												p.b-comments__text
													| я регулярно занимаюсь в зале и все равно от целлюлита полностью избавиться не могу. поэтому в обертывание особо не верю. 
												.b-comments__footer
													a.b-comments__links.b-comments__links--likes(href='') 3
													a.b-comments__links(href='') Like
													a.b-comments__links(href='') Reply
													span.b-comments__date #[script dtime_nums(-2, true)] at 10:28
							.b-panel.b-panel--info
								p.b-panel__views Эту страницу просматривали 91 252 раз.
								p.b-panel__useful #[b Была ли эта статья полезной?]
								.b-panel__buttons
									a(href="").b-btn Да
									a(href="").b-btn Нет
						.b-main__right
							.b-widget
								a(href="").b-btn Наугад
								a(href="").b-btn Написать статью
							.b-widget.b-widget--teasers
								h3.b-widget__title Дополнительные статьи
								.b-widget__row
									a(href="").b-widget__teaser
										p.b-widget__teaser-title Гарантированное похудение
									a(href="").b-widget__teaser
										p.b-widget__teaser-title 10 способов сбросить лишний вес
								.b-widget__row
									a(href="").b-widget__teaser
										p.b-widget__teaser-title Худеем вместе. Реальные истории
									a(href="").b-widget__teaser
										p.b-widget__teaser-title Советы тех, кто смог избавиться от лишних килограммов 
							.b-widget.b-widget--voites
								h3.b-widget__question Была ли эта статья полезной?
								.b-widget__answers
									a.b-widget__yes(href="") Да
									a.b-widget__no(href="") Нет
			.b-footer
				.container
					.b-footer__inner
						a.b-footer__link(href="") Главная страница
						a.b-footer__link(href="") Про wikiHow
						a.b-footer__link(href="") Условия пользования (на английском)
						a.b-footer__link(href="") Карта сайта
						a.b-footer__link(href="") Мобильная версия


		script(src="js/common.js")








