doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.b-top
				.container
					.b-top__inner
						.b-top__left
							img.b-top__logo(src="img/logo.png", alt="")
							.b-top__search.b-search
								input(type="text", placeholder="сделать что-нибудь...").b-search__field
								a.b-search__btn(href="")
						.b-top__right
							.b-top__menu
								a.b-top__link.b-top__link--1(href="") Помогите нам
								a.b-top__link.b-top__link--2(href="") Посетите
								a.b-top__link.b-top__link--3(href="") Войти на сайт
								a.b-top__link.b-top__link--4(href="") Сообщения
			.b-main
				.container
					.b-breadcrumbs
						.b-breadcrumbs__inner
							.b-breadcrumbs__left
								a.b-breadcrumbs__action.active(href="") Статья
								a.b-breadcrumbs__action(href="") Править
							.b-breadcrumbs__right
								a.b-breadcrumbs__link(href="") Главная
								a.b-breadcrumbs__link(href="") Категории
								a.b-breadcrumbs__link(href="") Здоровье
								a.b-breadcrumbs__link(href="") Похудение
					.b-main__wrapper
						.b-main__left
							.b-theme
								h1.b-theme__title КАК ПОХУДЕТЬ НА 4 КГ ЗА НЕДЕЛЮ БЕЗ ТАБЛЕТОК И ВРЕДА ДЛЯ ЗДОРОВЬЯ. ТОП 3 МЕТОДА ОТ ЭКСПЕРТА  
								.b-theme__methods.b-methods.b-methods
									span.b-methods__label 3 метода:
									a.b-methods__link(href="#method1") Как секс влияет на похудение
									a.b-methods__link(href="#method2") Как влияет стресс на похудение 
									a.b-methods__link(href="#method3") Как влияет на похудение обертывания для тела Green Spa 
								.b-theme__content
									p.b-theme__lead У каждой  современной женщины обязательно есть эти три вещи: модный смартфон, немного лишнего веса и постоянное желание от него избавиться.  
									p.b-theme__lead Что нужно делать для того, чтобы похудеть? Ничего не есть, жить в спортзале, считать калории? Эксперт по потере веса Микаель Родригес  разрушил стереотипы и предложил 3 новых способа похудения, которые вас очень удивят. 
									p.b-theme__lead Здоровый образ жизни - это то, к чему люди должны стремиться, но в современном  мегаполисе не у всех есть время на тренировки, не у всех есть возможность правильно питаться, принимать витамины и  вовремя проходить обследования организма. 
									p.b-theme__lead Я исследовал женский организм и его жиросжигающие способности. Максимальную эффективность показали результаты у тех женщин, которые часто занимаются сексом, у тех, кто часто пребывает в состоянии стресса и у тех, кто делает обертывания Green Spa. 
							.b-panel.b-panel--method(id="method1")
								.b-panel__title #[span Метод #[b 1]] #[h2 Как секс влияет на похудение]
								//- img.b-panel__img
								.b-panel__inner
									p.b-panel__text Секс для похудения -  хорошая идея, ведь это расслабляет психологически, нормализует баланс гормонов, подавляет стрессы и попросту доставляет удовольствие. 
									p.b-panel__text Во время полового акта учащается дыхание и поднимается пульс до 140 ударов в минуту, что ведет к сжиганию 400 калорий в час. Кроме того, повышается температура тела, что тоже способствует уменьшению жировой прослойки тела. 
									p.b-panel__text Во время секса средняя частота пульса равна 120 ударам в минуту. Во время оргазма калории сжигаются еще активнее, так как частота пульса увеличивается до 140 ударов в минуту. 
									p.b-panel__text Однако найти достойного мужчину-партнера бывает совсем нелегко. Поэтому женщины заедают депрессию и поправляються еще больше. 
							.b-panel.b-panel--method(id="method2")
								.b-panel__title #[span Метод #[b 2]] #[h2 Как влияет стресс на похудение]
								//- img.b-panel__img
								.b-panel__inner
									p.b-panel__text “Худею от стресса” - часто слышали такое от подруги, которая ела шоколад вместе с вами,  но в отличие от вас похудела на два размера за последний месяц? Тут все просто -  стресс часто сопровождается перенапряжением и спазмом мышц тела, в том числе мышц желудочно-кишечного тракта. В напряжении организм единовременно тратит большое количество энергии ( ок 700 ккал ) и не позволяет поступающим калориям откладываться в жировые отложения. 
									p.b-panel__text В таких условиях жир в организме сжигается в 8 раз быстрее и  уменьшаются объемы тела. 
							.b-panel.b-panel--method(id="method3")
								.b-panel__title #[span Метод #[b 3]] #[h2 Как влияет на похудение обертывания для тела Green Spa]
								//- img.b-panel__img
								.b-panel__inner
									p.b-panel__text Обертывание Green Spa станет настоящей находкой для тех, кто не может избавиться от лишних сантиметров в проблемных зонах, а так же для тех, у кого кожа, склонная к появлению растяжек. Это средство 2 в 1: избавляет от лишнего жира и подтягивает кожу. Огромный плюс Green Spa в том, что им можно пользоваться самостоятельно дома. 
									p.b-panel__text Green Spa действует комплексно: 
									ol.b-panel__list
										li Активные компоненты жиросжигающего крема проникают  в кожу и расщепляют жировые отложения и растяжки.
										li  Термопленка создает эффект сауны. Мягко открывает поры, разгоняет лимфу и расщепляет застойные явления. 
										li Регулярное обертывание Green Spa в течение курса обеспечивает уменьшение объемов тела на 4-16 см в зависимости от запущенности и индивидуальных особенностей организма. С Green Spa вы сможете худеть на 4 кг в неделю без особых усилий и вреда для здоровья. 
									p.b-panel__text Делать обертывание можно локально на проблемных зонах - руки, живот и бедра, что позволит сохранить объем груди, который часто уменьшается из-за тренировок и диет. 
							.b-panel
								.b-panel__title #[h2 Дополнительные статьи]
								.b-panel__inner f
							.b-panel
								.b-panel__title #[h2 Комментарии]
								.b-panel__inner f
							.b-panel.b-panel--info
								p.b-panel__views Эту страницу просматривали 91 252 раз.
								p.b-panel__useful #[b Была ли эта статья полезной?]
								.b-panel__buttons
									a(href="").b-btn Да
									a(href="").b-btn Нет
						.b-main__right
							.b-widget
		
		script(src="js/common.js")








